html 
  head 
    title ejemplo2
    link(rel="stylesheet" href="style.css")
  body
    h1#pepito=titulo
    p#miId='ejemplo de un tag con un id definido'
    p.toplaner.midlaner.pepito.pepito2='ejemplo de un tag con una clase definida'
    p#miId.toplaner='ejemplo de un tag con id y una clase'
    p(id="id1" class="toplaner midlaner")="HOLA"
    div#migrupo1 
      p='hola'
      h1='holax2'