{{#if listaSuper.length}}
<p>Lista de supermercado de {{nombre}} {{apellido}}</p>
<ul>
  {{#each listaSuper}}
  <li>{{this}}</li>
  {{/each}}

  {{#each listaObjetos}}
  <li class={{this.style}}>{{this.name}}</li>
  {{/each}}
</ul>
{{else}}
<p>No te muestro nada</p>
{{/if}}